
<h2>Event</h2>
<div class="jumbotron">
    <img class="img-thumbnail md-margin-bottom-10" src=@Url.Content(ViewBag.image) alt="Profile pic" style="width: 100%" />
    <h1>Title: </h1><p>@ViewBag.title</p>
    <br />
    <h1>Informations: </h1><p>@ViewBag.info</p>
    <br />
    <h1>Location: </h1><p>@ViewBag.loc</p>
    <br />
    <h1>Price: </h1><p>@ViewBag.price</p>
    <br />
    <a class="btn btn-default" href='@Url.Action("Buy", "Home",new { title = ViewBag.Title })' >Buy</a>
</div>



    <div class="jumbotron">
        <div class="row">
            <div class="column">
                <h3 style="color:darkblue">Contact</h3>
                <br />
                <p> +20 115 543 1271</p>
                <br />
                <p> Atrifex@gmail.com</p>
            </div>

            <div class="column">
                <h3 style="color:darkblue">Services </h3>
                <br />
                <p> Contact Us</p>
                <br />
                <p> Ordering & Payment</p>
                <br />
                <p> Shipping</p>
                <br />
                <p> FAQ</p>
            </div>

            <div class="column">
                <h3 style="color:darkblue"> Information</h3>

                <br />
                <p> Work With Us</p>
                <br />
                <p> Privacy Policy</p>
                <br />
                <p> Terms & Conditions</p>
            </div>
        </div>
    </div>

