@model ArtGallery.Models.Event

@{
    ViewBag.Title = "Event";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<!-- Font Awesome -->
<link rel="stylesheet" href="~/lte/plugins/fontawesome-free/css/all.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="~/lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/lte/dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


<section class="content">
    <h2>Event</h2>
    @using (Html.BeginForm("Event", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Event</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="card-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TITLE, new { @class = "control-label col-md-2" })

                            @Html.EditorFor(model => model.TITLE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TITLE, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.INFO, new { @class = "control-label col-md-2" })

                            @Html.TextAreaFor(model => model.INFO, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.INFO, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.EVENTDATE, new { @class = "control-label col-md-2" })

                            @Html.TextBoxFor(model => model.EVENTDATE, new { type = "date", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EVENTDATE, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TICKET_PRICE, new { @class = "control-label col-md-2" })

                            @Html.TextBoxFor(model => model.TICKET_PRICE, new { type = "number", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TICKET_PRICE, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TICKETS_NUM, new { @class = "control-label col-md-2" })

                            @Html.TextBoxFor(model => model.TICKETS_NUM, new { type = "number", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TICKETS_NUM, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LOCATION, new { @class = "control-label col-md-2" })

                            @Html.TextAreaFor(model => model.LOCATION, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.LOCATION, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IMAGE, new { @class = "control-label col-md-2" })
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="IMAGE" name="imagefile">
                                    <label class="custom-file-label" for="IMAGE">Choose file</label>
                                </div>
                            </div>
                        </div>




                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Select Artists to be invited</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Artist UserName</th>
                                            <th>BIO</th>
                                            <th>Birth year</th>
                                            <th>start salary</th>
                                            <th>end salary</th>
                                            <th>checked</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>




                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="/admin" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Create Event" class="btn btn-success float-right">
            </div>
        </div>
    }
</section>
@section Scripts{
    <script src="~/lte/plugins/jquery/jquery.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/lte/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <link href="~/lte/plugins/datatables-checkboxes/css/dataTables.checkboxes.css" rel="stylesheet"/>
    <script src="~/lte/plugins/datatables-checkboxes/js/dataTables.checkboxes.min.js"></script>
    <script src="~/lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lte/plugins/datatables-select/js/dataTables.select.min.js"></script>
    <script src="~/lte/plugins/datatables-select/js/select.bootstrap4.min.js"></script>
    <link href="~/lte/plugins/datatables-select/css/select.bootstrap4.min.css" rel="stylesheet"/>
    <link href="~/lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <script src="~/lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- page script -->
    <script type="text/javascript">
        var list = [];
        $(document).ready(function() {

            $('#example1').DataTable({
                "ajax": {
                    "url": "/Admin/LoadData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ARTIST_UNAME", "autowidth": true, "className": 'ArtistUserName' },
                    { "data": "BIO", "autowidth": true },
                    { "data": "BYEAR", "autowidth": true },
                    { "data": "START_SALARY", "autowidth": true },
                    { "data": "END_SALARY", "autowidth": true },
                    {
                        defaultContent: '',
                        'targets': 0,
                        'checkboxes': { 'selectRow': true },
                        className: 'select-checkbox'
                    }
                ],
                'select': {
                    'style': 'multi'
                },
                'order': [[1, 'asc']]
            });
        });
        // Handle form submission event
        $('#form1').on('submit',
            function(e) {
                var form = this;
                var list = [];
                // Iterate over all selected checkboxes
                $('.selected .ArtistUserName').each(function (i, obj) {
                    list.push($(this).text());
                });
                $.ajax({
                    type: "POST",
                    url: "/Admin/SaveSelected",
                    data: JSON.stringify({ 'list': list }),
                    success: function (data) {
                        console.log(data);
                    },
                    async: false,
                    contentType: "application/json",
                    traditional: true
                });
            });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
        });
    </script>
}