
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



    <section class="content">
        <h2>Dashboard</h2>
        <div class="row">

            <!--left part of the page-->
            <div class="col-md-6">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Number of orders shipped by each company</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart" width="800" height="450"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>


                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Number of artworks for each category</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block;" width="670" height="368" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Events Revenue</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="donutChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 454px;" width="671" height="369" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>


            </div>


            <!--right part of the page-->
            <div class="col-md-6">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Number of attendants for Each event</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 454px;" width="671" height="369" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Number of surveys for each expert</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="pieChart2" width="800" height="450"></canvas>
                    </div>
                    <!-- /.card-body -->
                </div>


            </div>

        </div>


    </section>

<script src="~/lte/plugins/chart.js/Chart.min.js"></script>
<script>
    $(function () {
        var lbl = @Html.Raw(Json.Encode(ViewBag.l1));
        var dt = @Html.Raw(Json.Encode(ViewBag.d1));
        var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
        var donutChart = new Chart(donutChartCanvas,
            {
                type: 'doughnut',
                labels: lbl,
                data: {
                    labels: lbl,
                    datasets: [
                        {
                            data: dt,
                            backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de', '#fdea12', '#aaff43', '#ffffff', '#000000']
                        }
                    ]
                }
            });


        var lbl = @Html.Raw(Json.Encode(ViewBag.l2));
        var dt = @Html.Raw(Json.Encode(ViewBag.d2));

        var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
        var pieChart = new Chart(pieChartCanvas,
            {
                type: 'pie',
                data: {
                    labels: lbl,
                    datasets: [
                        {
                            data: dt,
                            backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de', '#fdea12', '#aaff43', '#ffffff', '#000000']
                        }
                    ]
                },
            });

        var lbl = @Html.Raw(Json.Encode(ViewBag.l3));
        var dt = @Html.Raw(Json.Encode(ViewBag.d3));
        var barChartCanvas = $('#barChart').get(0).getContext('2d')

        var barChart = new Chart(barChartCanvas, {
            type: 'pie', 
            data: {
                labels: lbl,
                datasets: [
                    {
                        data: dt,
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de', '#fdea12', '#aaff43', '#ffffff', '#000000']
                    }
                ]
            }
        })

        var lbl = @Html.Raw(Json.Encode(ViewBag.l4));
        var dt = @Html.Raw(Json.Encode(ViewBag.d4));

        var pieChartCanvas = $('#pieChart2').get(0).getContext('2d')
        var pieChart = new Chart(pieChartCanvas,
            {
                type: 'pie',
                data: {
                    labels: lbl,
                    datasets: [
                        {
                            data: dt,
                            backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de', '#fdea12', '#aaff43', '#ffffff', '#000000']
                        }
                    ]
                },
            });

        var lbl = @Html.Raw(Json.Encode(ViewBag.l5));
        var dt = @Html.Raw(Json.Encode(ViewBag.d5));
        var donutChartCanvas = $('#donutChart2').get(0).getContext('2d')
        var donutChart = new Chart(donutChartCanvas,
            {
                type: 'doughnut',
                labels: lbl,
                data: {
                    labels: lbl,
                    datasets: [
                        {
                            data: dt,
                            backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de', '#fdea12', '#aaff43', '#ffffff', '#000000']
                        }
                    ]
                }
            });


    });

        
</script>

