@using ArtGallery.ViewModels
@using PagedList
@using PagedList.Mvc
@model AdminViewModel
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <link href="~/Content/paging.css" rel="stylesheet" />

<section class="content" style="padding-top: 1vh">
    <div class="container-fluid">

        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    @using (Html.BeginForm("Orders", "Admin", FormMethod.Get))
                    {
                    <div class="card-header">
                        <h3 class="card-title">Orders</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search with id">
                                <div class="input-group-append">
                                    
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                    
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    @if (Request.QueryString["sortdir"] == "desc")
                                    {
                                        <th>@Html.ActionLink("Status", "Orders", "Admin", new { Orderby = "STATUS", sortdir = "asc" }, null) 
                                            @if (Request.QueryString["Orderby"] == "STATUS")
                                             {
                                                 <i class="fas fa-sort-amount-up" style="color: #007bff"></i>
                                             }
                                    </th>
                                    <th>@Html.ActionLink("OrderDate", "Orders", "Admin", new {Orderby = "OrderDate", sortdir = "asc"}, null)
                                            @if (Request.QueryString["Orderby"] == "OrderDate")
                                            {
                                                <i class="fas fa-sort-amount-up" style="color: #007bff"></i>
                                            }</th>
                                        <th>@Html.ActionLink("Approx. deliveryDate", "Orders", "Admin", new {Orderby = "deliveryDate", sortdir = "asc"}, null)
                                            @if (Request.QueryString["Orderby"] == "deliveryDate")
                                            {
                                                <i class="fas fa-sort-amount-up" style="color: #007bff"></i>
                                            }</th>
                                    }
                                    else
                                    {
                                        <th>@Html.ActionLink("Status", "Orders", "Admin", new { Orderby = "STATUS", sortdir = "desc" }, null) 
                                            @if (Request.QueryString["Orderby"] == "STATUS")
                                            {
                                                <i class="fas fa-sort-amount-down-alt" style="color: #007bff"></i>
                                            }</th>
                                        <th>@Html.ActionLink("OrderDate", "Orders", "Admin", new {Orderby = "OrderDate", sortdir = "desc"}, null)
                                            @if (Request.QueryString["Orderby"] == "OrderDate")
                                            {
                                                <i class="fas fa-sort-amount-down-alt" style="color: #007bff"></i>
                                            }</th>
                                        <th>@Html.ActionLink("Approx. deliveryDate", "Orders", "Admin", new {Orderby = "deliveryDate", sortdir = "desc"}, null)
                                            @if (Request.QueryString["Orderby"] == "deliveryDate")
                                            {
                                                <i class="fas fa-sort-amount-down-alt" style="color: #007bff"></i>
                                            }</th>
                                     
                                    }
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>

                            @foreach (var order in Model.Orders)
                            {
                                <tr>
                                    <td>@order.ORDER_ID</td>
                                    @if (order.STATUS == true)
                                    {
                                        <td>Sent</td>
                                    }
                                    else
                                    {
                                        <td>Pending</td>
                                    }
                                <td>@order.ORDER_DATE.ToString("MM/dd/yyyy")</td>
                                    @if (order.DELIVERY_DATE == null)
                                    {
                                        <td>@order.DELIVERY_DATE</td>
                                    }
                                    else
                                    {
                                        DateTime t = ((DateTime) order.DELIVERY_DATE);
                                        <td>@t.ToString("MM/dd/yyyy")</td>
                                    }

                                    <td>@Html.ActionLink("More details", "OrderDetails", "Admin", new { orderid = order.ORDER_ID }, null)</td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
        <div   class ="pagination" >
            @Html.PagedListPager(Model.Orders, page => Url.Action("Orders",
                new
                {
                    page,
                         Orderby = Request.QueryString["Orderby"],
                    asc = Request.QueryString["asc"], 
                }),PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div><!-- /.container-fluid -->
    
</section>

