
@model ArtGallery.Models.Artwork
@{
    ViewBag.Title = "ArtWorkViwer";
}


<section class="content" style="padding-top: 1vh">
    <div class="container-fluid">

        @using (Html.BeginForm("ProposalsAction", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("code", Model.AW_CODE)

            <div class="form-horizontal">
                <h4>Artwork</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.CATEGORY_NAME, "CATEGORY", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.CATEGORY_NAME, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TITLE, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.TITLE, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DESCRIPTION, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.DESCRIPTION, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WIDTH, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.WIDTH.ToString(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.HEIGHT, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.HEIGHT.ToString(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DEPTH, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.DEPTH.ToString(), new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PRICE, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.PRICE.ToString(), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MATERIAL, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.MATERIAL, new { @class = "form-control" })

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MEDIUM, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.MEDIUM, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SUBJECT, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.SUBJECT, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.YEAR, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(Model.YEAR.ToString(), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PHOTO, "Artwork Photo", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img src="@Url.Content(Model.PHOTO)" alt="Artwork photo" height="100%" />
                    </div>
                </div>
            </div>
        }

    </div>

</section>

