@using ArtGallery.Models
@using ArtGallery.ViewModels
@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc
@model IPagedList<ArtGallery.Models.Artwork>
@{
    Artist a = ViewBag.artist;
    List<ExpertViewModel> e = ViewBag.exp;
    IPagedList<Survey> s = ViewBag.reqlist;


}

@section AddToHead{
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}
<link href="~/Content/paging.css" rel="stylesheet" />
<style>
    table > tr > td {
        vertical-align: middle;
        text-align: center;
    }

    td {
        text-align: center;
    }

    th {
        text-align: center
    }

    .pagination li {
        display: table-cell;
    }
</style>

<div class="container bootstrap snippet">
    <div class="profile card">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md-5 text-center">
                        <img class="img-thumbnail md-margin-bottom-10" src=@Url.Content(ViewBag.imagepath != null ? ViewBag.imagepath: "~/Images/default.png") alt="Profile pic" style="width: 100%" />
                    </div>
                    <div class="col-md-7">
                        @if (ViewBag.title != null)
                        {
                            <h2>@ViewBag.title </h2>
                        }
                        @if (a != null && e == null)
                        {

                            <span><strong>Job:</strong> Artist</span>
                        }
                        @if (e != null && a == null)
                        {

                            <span><strong>Job:</strong> Expert</span>
                        }
                        @if (a != null && e != null)
                        {
                            <span><strong>Job:</strong> Expert & Artist</span>

                        }
                        <hr>
                        @if (a != null || e != null)
                        {
                            <h1>Bio</h1>
                        }
                        <br />
                        @if (a != null)
                        {
                            <p>@a.BIO</p>
                        }
                        @if (e != null)
                        {
                            <p>@e[0].BIO</p>
                            <hr>
                            <h1>QUALIFICATIONS</h1>
                            <br />
                            for (int i = 0; i < e.Count; i++)
                            {<p>@e[i].QUALIFICATIONS</p>}

                    }
                        @if (e != null && ViewBag.same)
                        {
                            <a class="btn btn-default" href='@Url.Action("AddQual", "Manage", new {Username = e[0].EXPERT_UNAME})'>Add Qualifications</a>
                        }
                        @if (e != null && !ViewBag.same && User.Identity.Name != "")
                        {
                            <a class="btn btn-default" href='@Url.Action("AddSurvey", "Manage", new {Username = e[0].EXPERT_UNAME})'>Add Survey</a>
                        }
                        @if (a != null && ViewBag.same)
                        {
                            <a class="btn btn-default" href='@Url.Action("UploadArt", "Manage", new {Username = a.ARTIST_UNAME})'>Upload Artwork</a>
                        }
                        @if (User.Identity.GetUserName() != "" && ViewBag.same)
                        {
                            <a class="btn btn-default" href='@Url.Action("CustomOrder", "Manage")'>Create Custom Order </a>
                            <a class="btn btn-default" href='@Url.Action("Favourite", "Manage")'>Favourite Artworks</a>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (User.Identity.GetUserName() != "" && ViewBag.same)
{
    @Html.ActionLink("Change yours password", "ChangePassword", "Manage", null, null)
}
@if (a != null)
{

    <section class="content" style="padding-top: 1vh">
        <div class="container-fluid">

            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover customtbl">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Photo</th>
                                        <th>Price</th>
                                        <th>More info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var artwork in Model)
                                    {
                                        <tr>
                                            <td>@artwork.TITLE</td>
                                            @if (!artwork.PRIVACY)
                                            {
                                            <td><img src="@Url.Content(artwork.PHOTO)" alt="event photo" height="100vh" width="120vw" /></td>
                                            }
                                            else
                                            { <td>--</td>}
                                            <td>@artwork.PRICE</td>
                                            <td>@Html.ActionLink("More details", "ArtViwer", "Manage", new { Code = @artwork.AW_CODE }, null)</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index",
                    new
                    {
                        page
                    }), PagedListRenderOptions.ClassicPlusFirstAndLast)
            </div>
        </div>
    </section>
}

@if (e != null && ViewBag.same)
{

    <section class="content" style="padding-top: 1vh">
        <div class="container-fluid">

            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover customtbl">
                                <thead>
                                    <tr>
                                        <th>USER_NAME</th>
                                        <th>BUDGET</th>
                                        <th>More info</th>
                                        <th>Requests</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var request in s)
                                    {
                                        <tr>
                                            <td>@request.USER_NAME</td>
                                            <td>@request.BUDGET</td>
                                            <td>@request.MORE_INFO</td>
                                            <td>@Html.ActionLink("More details", "SurveyRequestAction", "Manage", new { Code = request.SURVEY_ID }, null)</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
            @if(Model != null)
            { 
                <div class="pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Index",
                        new
                        {
                            page
                        }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            }
        </div>
    </section>
}
<div class="jumbotron">
    <div class="row">
        <div class="column">
            <h3 style="color:darkblue">Contact</h3>
            <br />
            <p> +20 115 543 1271</p>
            <br />
            <p> Atrifex@gmail.com</p>
        </div>
        <div class="column">
            <h3 style="color:darkblue">Services </h3>
            <br />
            <p> Contact Us</p>
            <br />
            <p> Ordering & Payment</p>
            <br />
            <p> Shipping</p>
            <br />
            <p> FAQ</p>
        </div>
        <div class="column">
            <h3 style="color:darkblue"> Information</h3>
            <br />
            <p> Work With Us</p>
            <br />
            <p> Privacy Policy</p>
            <br />
            <p> Terms & Conditions</p>
        </div>
    </div>
</div>



