@using ArtGallery.Models
@using ArtGallery.ViewModels
@using Microsoft.AspNet.Identity
@{
    List<Artist> a = ViewBag.artist;
    List<ExpertViewModel> e = ViewBag.exp;

}

@section AddToHead{
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />
}

<div class="container bootstrap snippet">
    <div class="profile card">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md-5 text-center">
                        <img class="img-thumbnail md-margin-bottom-10" src=@Url.Content(ViewBag.imagepath) alt="Profile pic" style="width: 100%" />
                    </div>
                    <div class="col-md-7">
                        @if (a != null)
                        {
                            <h2>@a[0].ARTIST_UNAME </h2>
                        }
                        @if (a != null && e == null)
                        {

                            <span><strong>Job:</strong> Artist</span>
                        }
                        @if (e != null && a == null)
                        {

                            <span><strong>Job:</strong> Expert</span>
                        }
                        @if (a != null && e != null)
                        {
                            <span><strong>Job:</strong> Expert & Artist</span>

                        }
                        <hr>
                        @if (a != null || e != null)
                        {
                            <h1>Bio</h1>
                        }
                        <br />
                        @if (a != null)
                        {
                            <p>@a[0].BIO</p>
                        }
                        @if (e != null)
                        {
                            <p>@e[0].BIO</p>
                            <hr>
                            <h1>QUALIFICATIONS</h1>
                            <br />
                            <p>@e[0].QUALIFICATIONS</p>
                        }
                        @if (e != null && (e[0].EXPERT_UNAME == ViewBag.title))
                        {
                            <h1>This will be handled late when add survey</h1>
                        }
                        @if (a != null && (a[0].ARTIST_UNAME == ViewBag.title))
                        {
                            <a class="btn btn-default" href='@Url.Action("UplodeArt", "Manage", new {Username = a[0].ARTIST_UNAME})'>Uplode</a>
                        }
                        @if (User.Identity.GetUserName() != "")
                        {
                            <a class="btn btn-default" href='@Url.Action("CustomOrder", "Manage")'>Create Custom Order </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (User.Identity.GetUserName() != "")
{
    @Html.ActionLink("Change yours password", "ChangePassword", "Manage", null, null)
}
<div class="jumbotron">
    <div class="row">
        <div class="column">
            <h3 style="color:darkblue">Contact</h3>
            <br />
            <p> +20 115 543 1271</p>
            <br />
            <p> Atrifex@gmail.com</p>
        </div>
        <div class="column">
            <h3 style="color:darkblue">Services </h3>
            <br />
            <p> Contact Us</p>
            <br />
            <p> Ordering & Payment</p>
            <br />
            <p> Shipping</p>
            <br />
            <p> FAQ</p>
        </div>
        <div class="column">
            <h3 style="color:darkblue"> Information</h3>
            <br />
            <p> Work With Us</p>
            <br />
            <p> Privacy Policy</p>
            <br />
            <p> Terms & Conditions</p>
        </div>
    </div>
</div>



