<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Artifex", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Explore", "ExploreArtworks", "Home")</li>
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("ExpertList", "Experts", "Home")</li>
                    <li>@Html.ActionLink("Event", "Events", "Home")</li>
                    <li>@Html.ActionLink("Art Advisory", "UserSurveys", "Manage")</li>
                    <li>@Html.ActionLink("Apply Artist", "ApplyArtist", "Authorization")</li>
                    <li>@Html.ActionLink("Apply Expert", "ApplyExpert", "Authorization")</li>
                    <li>@Html.ActionLink("Score board", "Scoreboard", "Home")</li>
                    <li>@Html.ActionLink("report", "myorders", "Home")</li>
                }
            </ul>
            @Html.Partial("loginPartialView")
        </div>
    </div>
</div>
